* {
  font-family: sans-serif;
  font-size: x-large;
  text-decoration: none;
  list-style-type: none;
}

/*everything below the topnav*/
.main {
  z-index: -1;
  padding: 40px;
}

/*the columns on the main Kanban screen*/
.flex-item {
  width: 250px;
  height: 70vh;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  box-shadow: 3px 5px 5px #888;
  overflow: scroll;
}

/*add a dotted blue border when taskboxes are moved into a column to the right*/
.goRight {
  border: 2px dotted blue;
}

/*add a dotted red border when taskboxes are moved into a column to the left*/
.goLeft {
  border: 2px dotted red;
}

/*contains the labels of each kanban column*/
.flex-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*container element for the kanban columns*/
.flex-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: -1;
}

/*taskBoxes get loaded into the Backlog, InProgress and Complete columns each time the window loads*/
div.taskBox {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  z-index: 99;
  width: 99%;
  height: 60px;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  margin-top: 1px;
  margin-left: 1px;
  color: black;
  font-size: 15px;
  padding: 5px;
}

/*the modal that pops up when user double clicks a task to show its complete info*/
.expandedTask {
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  height: 40%;
  display: flex;
  background-color: #ddd;
  z-index: 99;
  position: absolute;
  top: 25%;
  left: 35%;
  margin: auto;
  box-shadow: 3px 3px 3px #888;
  overflow: auto;
}

/*container element housing the expanded task text*/
div#container {
  font-size: 20px;
  margin-top: -6%;
  margin-left: 8%;
  margin-right: 8%;
}

/*formatting for the Add Task button, as well as the submit button on the Add Task form*/
.button {
  width: 100px;
  height: 30px;
  margin-left: 13%;
  position: relative;
  color: black;
  font-size: small;
  margin-top: 15px;
  height: 30px;
  align-content: center;
  font-size: small;
  display: inline-block;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
}

/*change color on hover...applies to buttons referenced above*/
.button:hover {
  background-color: #999;
}

/*change color and add animation when buttons referenced above are pressed*/
.button:active {
  background-color: #555;
  transform: translateY(2px);
}

/*the close button on the Expanded Task modal*/
#closeBtn {
  position: relative;
  background-color: red;
  color: red;
  border: 1px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-left: 5px;
  line-height: 0px;
  text-decoration: none;
  font-size: normal;
}

/*add a black 'x' when hovering over the red circle -- references the close button immediately above*/
#closeBtn:hover {
  color: black;
}

/*the new task form modal*/
form#newTaskForm {
  width: 30%;
  height: 45vh;
  background-color: #aaa;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 5px 5px #888;
  z-index: 1;
  position: absolute;
  top: 200px;
  left: 505px;
}

/*h2 element in the new task form modal*/
h2#newTaskFormHeader {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  cursor: move;
}

/*input boxes in the new task form*/
input#newTaskBox,
input#dueDateBox {
  width: 75%;
  height: 30px;
  font-size: small;
  margin-left: 45px;
}

/*make the placeholder text in the new task form's input boxes a slightly lighter shade*/
::placeholder {
  color: #888;
}

/*applies to the select drop-down in the new task form*/
select#priorityBtn {
  font-size: small;
  height: 30px;
  width: 75%;
  margin-left: 45px;
}

/*the description text-area in the new task form*/
textArea#description {
  font-size: small;
  width: 75%;
  margin-left: 45px;
  margin-top: 5px;
}

/*give the button on the new task form slightly different dimensions that what was created for the Add Task button*/
.button.form {
  width: 30%;
}

/*Screen sizes larger than 15"*/
@media only screen and (min-device-width: 1920px) {
  /*formatting for the Add Task button, as well as the submit button on the Add Task form*/
  .button {
    margin-left: 14%;
  }
}

/*iPad turned sideways*/
@media only screen and (max-device-width: 1024px) {
  /*formatting for the Add Task button, as well as the submit button on the Add Task form*/
  .button {
    margin-left: 11.25%;
  }

  /*the new task form modal*/
  form#newTaskForm {
    width: 40%;
    height: 44vh;
    top: 225px;
    left: 305px;
  }

  /*give the button on the new task form slightly different dimensions that what was created for the Add Task button*/
  .button.form {
    left: 10px;
  }

  /*the modal that pops up when user double clicks a task to show its complete info*/
  .expandedTask {
    width: 45%;
    height: 45%;
    top: 28%;
    left: 27%;
  }
}

/*iPad turned vertically*/
@media only screen and (max-device-width: 768px) {
  /*formatting for the Add Task button, as well as the submit button on the Add Task form*/
  .button {
    margin-left: 10%;
  }

  /*the new task form modal*/
  form#newTaskForm {
    width: 50%;
    height: 40vh;
    top: 250px;
    left: 190px;
  }

  /*give the button on the new task form slightly different dimensions that what was created for the Add Task button*/
  .button.form {
    left: 16px;
  }

  /*the modal that pops up when user double clicks a task to show its complete info*/
  .expandedTask {
    width: 40%;
    height: 35%;
    top: 25%;
    left: 30%;
  }
}

/*iPhone*/
@media only screen and (max-device-width: 414px) {
  /*mobile screens will need smaller font size for column labels*/
  .flexlabel {
    font-size: 17px;
  }

  /*formatting for the Add Task button, as well as the submit button on the Add Task form*/
  .button {
    margin-left: 4%;
    width: 25%;
    font-size: 10px;
  }

  /*the new task form modal*/
  form#newTaskForm {
    width: 79%;
    height: 45vh;
    top: 195px;
    left: 43px;
  }

  /*format sizes for the input fields in the new task form*/
  input#newTaskBox,
  select#priorityBtn,
  textarea#description {
    width: 100%;
    font-size: small;
    margin-left: auto;
  }

  /*give the button on the new task form slightly different dimensions that what was created for the Add Task button*/
  .button.form {
    width: 45%;
    left: 8px;
  }

  /*taskBoxes get loaded into the Backlog, InProgress and Complete columns each time the window loads*/
  div.taskBox {
    width: 98%;
    height: 80px;
    font-size: 10px;
  }

  /*the modal that pops up when user double clicks a task to show its complete info*/
  .expandedTask {
    width: 65%;
    height: 40%;
    top: 25%;
    left: 18%;
  }

  /*container element housing the expanded task text*/
  div#container {
    font-size: 15px;
  }
}
